*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 0;
  scroll-snap-type: y proximity;
}

@media (min-width: 60.01rem) and (min-height: 36rem) {
  html {
    scroll-snap-type: y mandatory;
  }
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  min-width: 20rem;
  min-height: 100vh;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
